* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bluegrey: #141922;
  --grey: #282828;
  --lightgrey: #6F6F6F;
  --padding: 20px;
  --green: #ADFF2F;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: white;
  padding: 20px 0;
}

figure.img-box {
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

li .row.flex-row {
  width: fit-content;
}

ul > li img {
  filter: brightness(0.7);
}

ul > li > a {
  /* color: white; */
  text-decoration: none;
  /* filter: brightness(0.4); */
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--lightgrey);
}

ul > li > a:hover {
  color: white;
}

ul > li > a:hover img {
  filter: brightness(1);
}

a > .col {
  width: fit-content;
}

.btn {
  margin: 0 5px;
  cursor: pointer;
}





/*************
    UTILITY
*************/

.debug {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
}

.debug2 {
  min-height: 100px;
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid black;
}

.flex-row {
  display: flex;

}

.flex-column {
  display:flex; 
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.a-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}



/* SLIDER */
.slidecontainer {
  height: 4px;
  width: 100%;
  background-color: #6F6F6F;
  border-radius: 50px;
}

.slidecontainer:hover {
  cursor: pointer;
}

.slidecontainer .elapsed-time {
  width: 25%;
  height: 100%;
  position: relative;
  background-color: #C1C1C1;
  border-radius: 50px;
}

.slidecontainer .elapsed-time .slidecursor {
  display: none;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 2px;
  transform: translate(50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.slidecontainer:hover > .elapsed-time {
  background-color: var(--green);
}

.slidecontainer:hover .elapsed-time .slidecursor {
  display: inline-block;
}





/*************
    MAIN
*************/
.player {
  height: 90px;
  background-color: var(--grey);
}

.browser {
  height: calc(100vh - 90px);
  overflow: hidden;
}


/**************************
          BROWSER
**************************/

.player > .row,
.browser > .row {
  position: relative;
  height: 100%;
}

.sidebar {
  width: 225px;
  height: 100%;
  background-color: #000;
}

.upgrade {
  position: absolute;
  right: 0;
  padding-right: 20px;
  width: calc(100% - 225px);
  height: 90px;
  z-index: 999;
  background-color: rgba(0, 0, 0, .4);
}

.upgrade .btn.special a {
  text-decoration: none;
  color: #fff;
  font-size: .8rem;
  font-weight: 700;
  padding: 12px 30px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.upgrade .btn:hover {
  transform: scale(1.1);
}

.app-content {
  width: calc(100% - 225px);
  height: 100%;
  overflow-y: auto;
  padding-top: 90px;
  background-color: var(--bluegrey);
}


/**************************
          SIDEBAR
**************************/

.sidebar .user {
  height: 90px;
}

.sidebar .menu {
  height: calc(100% - 90px);
  min-height: 400px;
}

.sidebar .logo {
  width: 70%;
  padding-top: var(--padding);
  padding-left: var(--padding);
}

.sidebar .logo img:last-child {
  display: none;
}

.sidebar .logo a {
  width: 150px;
  height: 150px;
}

.sidebar .playlist {
  overflow-y: auto;
  padding-left: var(--padding);
}


/*************
    NAV
*************/

nav {
  color: #fff;
}

nav > ul {
  padding: 20px 0;
}

nav > ul > li {
  padding: 3px 0;
  padding-left: var(--padding);
  border-left: 3px solid transparent;
}

nav > ul > li a {
  color: var(--lightgrey);
}

nav > ul > li.active {
  border-left: 3px solid var(--green);
}

nav > ul > li.active > a {
  color: white;
}

nav > ul > li.active  img {
  filter: brightness(1);
}

nav > .row > .col {
  padding: 5px 0;
}

nav .icon {
  width: 25px;
  height: 25px;
}

.col.desktop {
  padding-left: 5px;
}




/*************
    PLAYLIST
*************/

.pl-section-title {
  display: inline-block;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.playlist .new-pl a {
  margin-bottom: 10px;
  font-size: .9rem;
  /* font-weight: 500; */
}

.playlist .new-pl span::before {
  content: "+";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #A3A3A3;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  margin-right: 10px;
  vertical-align: middle;
  color: black;
}


.playlist .col.desktop {
  padding-left: 0;
}

/* 
.pl-list {
  height: 250px;
} */

/* .col.pl-list {
  height: 100%;
  max-height: 200px;
  overflow: auto;
} */

.pl-list ul > li {
  padding: 5px 0;
  margin: 5px 0;
}

.pl-list ul > li > a {
  padding: 5px 0;
  margin: 5px 0;
  font-weight: 700;
}



/*************
    USER BAR
*************/

.user {
  padding-top: 10px;
}

.user > .row {
  height: 100%;
  padding: 0 20px;
}

.user > .row > .col {
  width: 100%;
}

.user ul > li {
  padding: 7px 0;
}

.user .cta {
  border-bottom: 1px solid #6F6F6F;
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
  width: 100%;
}

.user .col.cta img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.user .col.account .img-box {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: grey;
  overflow: hidden;
}

.user .col.account img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(2);
}

.user .col.account span {
  font-size: .9rem;
  font-weight: 700;
  padding-left: 10px;
  color: white;
}



/**************************
        APP CONTENT
**************************/

.app-content .row {
  overflow-x: hidden;
  /* max-width: 1200px; */
  width: 100%;
}

.app-content > .container {
  width: 98%;
  margin: 0 auto;
}

.app-content > .container > .row > .col {
  width: 100%;
}


.app-content .intro-text {
  margin-left: 8px;
  padding-bottom: 20px;
}

.app-content .intro-text h2 {
  padding-bottom: 0;
}

.app-content .intro-text > span {
  display: inline-block;
}

.app-content .col.card {
  width: calc(100% / 6);
  padding: 10px;
  /* max-width: 210px; */
  text-align: center;
}

.app-content .card .img-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: black;
}




/*************
    FILTERS
*************/

.filters {
  text-align: center;
  text-transform: uppercase;
}

.filters ul > li {
  display: inline-block;
  margin: 30px 10px;
}

.filters > ul > li {
  width: fit-content;
  position: relative;
}

.filters .active::after {
  content:"";
  display: inline-block;
  width: 35%;
  height: 2px;
  background-color: #ADFF2F;
  position: absolute;
  border: 2px solid black;
  top: 100%;
  right: 50%;
  transform: translate(50%,0%);
}

/*************
    RECENTLY PLAYED
*************/

.img-box {
  position: relative;
}

.img-box > .album {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
}

.img-box > .play-hover {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  font-size: 4rem;
  display: none;
}

.play-hover .container {
  width: 100%;
  height: 100%;
}

.card .text-box h4 {
  padding: 20px 0 10px;
  font-weight: 800;
  color: white;

}

.card .text-box span,
.intro-text span {
  color: var(--lightgrey);
  font-weight: 600;
  font-size: .8rem;
  padding: 10px 0;

}

.card:hover {
  cursor: pointer;
}

.card:hover .play-hover{
  display: block;
}



/*************
    CREATO PER TE/RELATED CONTENT
*************/
/* 
.app-content .related .col.card {
  max-width: 230px;
}

.app-content .popular .col.card {
  max-width: 230px;
} */

/*************
    Artisti più popolari
*************/

.popular {
  padding-bottom: 20px;
}


/**************************
           PLAYER
**************************/

.player .img-box {
  width: 40px;
  height: 40px;
}

.player .img-box:hover {
  cursor: pointer;
}

.player > .row .row {
  height: 100%;
  width: 100%;
}

.song-section {
  /* flex-grow: 1; */
  width: 100%;
  max-width: 225px;
  min-width: 140px;
}

.other-actions {
  width: 100%;
  /* flex-grow: 1; */
  max-width: 225px;
  min-width: 150px;
  color: white;
  padding-right: 10px;
}

.other-actions .btn {
  font-size: .8rem;
}

.other-actions .slidecontainer {
  margin-left: 5px;
}


/*************
    SONG-SECTION/NOW PLAYING
*************/
/* 
.song-info {
  padding-left: 10px;
} */

.song-info .now-playing {
  margin-left: 10px;
  line-height: 12px;
}

.song-info .now-playing a {
  text-decoration: none;
}

.song-info .now-playing .artist-name a {
  font-size: .8rem;
  font-weight: 800;
  color: white;
}

.song-info .now-playing .song-name a {
  font-size: .7rem;
  font-weight: 500;
  color: grey;
}

.song-info .now-playing a:hover {
text-decoration: underline;
}

.song-info .now-playing .song-name a:hover {
  color: white;
}

.song-actions .btn {
  color: white;
  filter: brightness(.4);
}

.song-actions .btn:hover {
  color: white;
  filter: brightness(1);
}



/*************
    ACTION PLAYER/CONTROLLER
*************/

.actions {
  width: 40%;
  /* max-width: 530px; */
  padding: 5px 0 15px;
  margin: 0 10px;
}

.actions .fa-circle-play {
  font-size: 2rem;
}

.actions .fa-circle-play:hover {
  transform: scale(1.2);
}

.actions .player-controller .btn {
  font-size: 1.2rem;
  padding: 10px 10px;
  color: white;
}

.actions .player-controller .btn  i[class*="play"] {
  padding: 0 10px;
}

.actions .time-cursor {
  padding: 0 10px;
}

.actions .time-cursor .col:nth-child(odd) {
  font-size: .6rem;
  font-weight: 700;
  color: white;
}

.actions .time-cursor .slider {
  width: 80%;
}

.player > .row > .col:last-child .col:last-child {
  width: 100%;
  align-self: center;
}







/*************
    RESPONSIVENESS
*************/

@media screen and (max-width: 1100px) {
  
  .app-content .col.card,
  .app-content .related .col.card,
  .app-content .popular .col.card {
    max-width: none;
  }
  
  .app-content .col.card {
    width: 25%;
  }

  .app-content .col.card:nth-child(4) ~ .col.card {
    visibility: collapse;
  }
  
  .app-content > .container > .row > .col.recent > .row {
    justify-content: flex-start;
  }

  
}




@media screen and (max-width: 768px) {
  .app-content .col.card {
    width: 50%;
  }

  
  .app-content .col.card:nth-child(2) ~ .col.card {
    visibility: collapse;
  }
}




@media screen and (max-width: 600px) {
  
  .desktop {
    display: none;
  }

  .sidebar {
    width: 45px;
    /* min-height: 100%; */
  }

  .sidebar .logo {
    width: 100%;
    padding: 5px 9px;
  }
    
  .sidebar .logo img:first-child {
    display: none;
  }

  .sidebar .logo img:last-child {
    display: block;
  }

  /* .sidebar .menu {
    padding: 20px 0 0;
  } */

  .sidebar .menu .playlist {
    display: none;
  }

  .menu {
    align-items: center;
  }

  nav > ul {
    padding-top: 5px;
  }

  nav > ul > li {
    padding-left: 7px;
    width: 45px;
  }

  .user .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }

  .user .cta {
    border: none;
  } 

  .upgrade {
    width: calc(100% - 45px);
  }

  .app-content {
    width: calc(100% - 45px);
    min-width: 200px;
    height: 100%;
    overflow-y: auto;
  }

}
