* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*************
    UTILITY
*************/

.debug {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
}

.debug2 {
  min-height: 100px;
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid black;
}

.flex-row {
  display: flex;

}

.flex-column {
  display:flex; 
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}



/*************
    MAIN
*************/

.player {
  height: 90px;
}

.browser {
  height: calc(100vh - 90px);
}



/*************
    BROWSER
*************/

.row {
  height: 100%;
}

.sidebar {
  width: 250px;
  height: 100%;
}

.app-content {
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
}


/*************
    SIDEBAR
*************/

.sidebar .user {
  height: 90px;
}

.sidebar .menu {
  height: calc(100% - 90px);
  overflow-y: auto;
}


/*************
    RESPONSIVENESS
*************/

@media screen and (max-width: 480px) {
  
  .sidebar {
    width: 45px;
    min-height: 100%;
  }

  .app-content {
    width: calc(100% - 45px);
    height: 100%;
    overflow-y: auto;
  }

  .sidebar .menu .playlist {
    display: none;
  }
}
