* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure.img-box {
  border-radius: 50%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*************
    UTILITY
*************/

.debug {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
}

.debug2 {
  min-height: 100px;
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid black;
}

.flex-row {
  display: flex;

}

.flex-column {
  display:flex; 
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.a-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/*************
    MAIN
*************/
.player {
  height: 90px;
}

.browser {
  height: calc(100vh - 90px);
}


/*************
    BROWSER
*************/

.player > .row,
.browser > .row {
  position: relative;
  height: 100%;
}

.sidebar {
  width: 225px;
  height: 100%;
}

.upgrade {
  position: absolute;
  right: 0;
  padding-right: 20px;
  width: calc(100% - 225px);
  height: 90px;
  text-align: right;
}

.app-content {
  width: calc(100% - 225px);
  height: 100%;
  overflow-y: auto;
  padding-top: 90px;
}



/*************
    SIDEBAR
*************/

.sidebar .user {
  height: 90px;
}

.sidebar .menu {
  height: calc(100% - 90px);
  overflow-y: auto;
}

.sidebar .logo {
  width: 70%;
}

.sidebar .logo img:last-child {
  display: none;
}

.logo a {
  text-decoration: none;
  width: 150px;
  border: 1px solid black;
}

/*************
    APP CONTENT
*************/

.app-content .row {
  overflow-x: hidden;
  /* max-width: 1200px; */
  width: 100%;
}

.app-content > .row > .col {
  width: 100%;
}
/* 
.app-content .col {
  text-align: center;
} */

.app-content .col.card {
  width: calc(100% / 6);
  padding: 10px;
  /* margin: 0 15px; */
  /* min-width: 130px; */
  /* flex-shrink: 1; */
  max-width: 210px;
  text-align: center;
}

.app-content .card .img-box {
  width: 100%;
  /* max-width: 250px; */
  aspect-ratio: 1 / 1;
  background-color: black;
}

.menu {
  padding: 20px 20px;
}

nav {
  color: #fff;
}

nav img {
  width: 25px;
}

nav > .row.flex-column {
  padding-top: 20px;
}

nav > .row > .col {
  padding: 5px 0;
}

/*************
    CREATO PER TE/RELATED CONTENT
*************/

.app-content .related .col.card {
  max-width: 230px;
}

.app-content .popular .col.card {
  max-width: 230px;
}


/*************
    PLAYER
*************/

.actions {
  width: 100%;
  max-width: 700px;
}

.actions .row .col:nth-child(2) {
  flex-grow: 1;
}

.slider {
  min-width: 135px;
  width: 100%;
}






/*************
    RESPONSIVENESS
*************/

@media screen and (max-width: 1100px) {
  
  .app-content .col.card,
  .app-content .related .col.card,
  .app-content .popular .col.card {
    max-width: none;
  }
  
  .app-content .col.card {
    width: 25%;
  }
  
  .app-content > .row > .col:nth-child(2) > .row {
    justify-content: flex-start;
  }

}




@media screen and (max-width: 768px) {
  .app-content .col.card {
    width: 50%;
  }
}




@media screen and (max-width: 480px) {
  
  .sidebar {
    width: 45px;
    min-height: 100%;
  }
    
  .sidebar .logo img:first-child {
    display: none;
  }

  .sidebar .logo img:last-child {
    display: block;
  }

  .sidebar .menu .playlist {
    display: none;
  }

  .upgrade {
    width: calc(100% - 45px);
  }

  .app-content {
    width: calc(100% - 45px);
    min-width: 200px;
    height: 100%;
    overflow-y: auto;
  }

}
